// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

//
// Override Bootstrap Variables before importing files
//
@font-face {font-family: "Reinata"; 
  src: url("//db.onlinewebfonts.com/t/b1f8b57f764139aca43d58cff1982ec9.eot"); 
  src: url("//db.onlinewebfonts.com/t/b1f8b57f764139aca43d58cff1982ec9.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/b1f8b57f764139aca43d58cff1982ec9.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/b1f8b57f764139aca43d58cff1982ec9.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/b1f8b57f764139aca43d58cff1982ec9.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/b1f8b57f764139aca43d58cff1982ec9.svg#Reinata") format("svg"); }

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLight.eot');
    src: local('Gotham ExtraLight'), local('Gotham-XLight'),
        url('Gotham-XLight.eot?#iefix') format('embedded-opentype'),
        url('Gotham-XLight.woff2') format('woff2'),
        url('Gotham-XLight.woff') format('woff'),
        url('Gotham-XLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.eot');
    src: local('Gotham Thin'), local('Gotham-Thin'),
        url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.eot');
    src: local('Gotham Book'), local('Gotham-Book'),
        url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.eot');
    src: local('Gotham Light'), local('Gotham-Light'),
        url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: local('Gotham Bold'), local('Gotham-Bold'),
        url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.eot');
    src: local('Gotham Medium'), local('Gotham-Medium'),
        url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../fonts/Gotham-Ultra.eot');
    src: local('Gotham Ultra'), local('Gotham-Ultra'),
        url('../fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Ultra.woff2') format('woff2'),
        url('../fonts/Gotham-Ultra.woff') format('woff'),
        url('../fonts/Gotham-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.eot');
    src: local('Gotham Black'), local('Gotham-Black'),
        url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff'),
        url('../fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
$border-radius: 1.2rem;
$border-radius-lg: 1.3rem;
$box-shadow-lg: 0 .3rem 1rem rgba(#000, .175);
$input-btn-padding-y:         .775rem;
$input-btn-padding-x:         1rem;
$breadcrumb-divider: quote(">");
$input-color: #937A69;
$input-border-color: #937A69;
$border-width: 2px;
$custom-control-indicator-size: 1.5rem;

$theme-colors: (
  "primary": #F8337A,
  "secondary": #B46063,
  "crema-suave":#FBF8F6,
  "crema-suave-2": #EDE7E4,
  "coral":#E67161,
  "marron":#785F4E,
  "marron-claro":#937A69,
  "marron-claro-2":#CCB4A3,
  "rosa-oscuro":#D89A9E,
  "rosa-claro":#E5C1C5,
  "gris": #707070,
  "nude": #E2D9CC,
  "verde":#9DDCB0,
  "white":#FFF,
);
$font-family-sans-serif: 'Gotham';
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$gris: #707070;
$principal-1: #F8337A;
$principal-2: #785F4E;
$principal-3: #B46063;
$custom-colo-4: #937A69;
$custom-colo-5: #CDC3B1;
$custom-colo-6: #D89A9E;
$custom-colo-7: #CCB4A3;
$nude: #E2D9CC;
$custom-colo-9: #E5C1C5;
$custom-colo-10: #E5D9D1;
$custom-colo-11: #EDE7E4;


// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults

$body-color: #937A69;
$body-bg: #FFF;
$border-radius: .4rem;

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group"; // Requires forms
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";


//
// Custom styles & Utilities
//

.btn{
    font-weight: 500;
    border-radius: 2rem !important;
}
.btn:hover{
    color: #FFF;
}
.btn-verde{
    color: #FFF;
}
button.btn.btn-blanco {
    border: 2px solid #F8337A;
    color: #F8337A;
    background: #FFF;
}
button.btn.btn-outline-white:hover{
    color: $principal-2;
}
.btn:is(.btn-primary, .btn-secundario, .btn-marron, .btn-rosa-oscuro, .btn-rosa-claro, .btn-coral, .btn-verde){
    box-shadow: none !important;
    border: none !important;
}
a, a:hover{
    color: $principal-3;
    text-decoration: none;
}
.text-medium{
    font-weight: 500;
}
.bg-nude{
    background-color: $nude;
}
h1, h2{
  font-family: 'Reinata';
  font-size: 8em;
  color: $principal-3;
  line-height: 4rem;
}
h3{
  font-family: 'Reinata';
  font-size: 6em;
  color: $principal-3;
  line-height: 4rem;
}
.line-h-low{
    line-height: 4rem !important;
}
@media(min-width:768px){
    h1, h2, h3{
        line-height: 8rem;        
    }
}
h4,h5,h6{
    font-family: 'Gotham';
    font-size: 1.3rem;
    font-weight: bold;
    color: $principal-3;
}
h5,h6{
    font-size: 1rem;
}
// Style Bootstrap icons
.bi {
  fill: currentColor;
}

//
// Header
//

.top-bar{
    background-color: $custom-colo-11
}
.bajada-logo{
    font-size: 12px !important;
}
.navbar.main-navigation .nav-link, .navbar.main-navigation .dropdown-item, .top-bar h6{
    font-size: 14px !important;
}

//
// Footer
//
footer{
    margin-top: 5%;
}
footer, footer a{
    background-color: $custom-colo-11;
    color: $principal-2 !important;
    font-size: 14px  !important;
}
footer p.date-input{
    color: $custom-colo-7;
}
footer hr{
    border-color: #CCB4A3;
    border-width: 1px !important;
}
@media (max-width:768px){
    footer{
        margin-top: 10%;
    }
}
//
// Navegacion Dashboard
//

.border-2{
    border-top: 2px solid;
}
.contenedor-dash{
    min-height: 100vh;
}
.nav-dashboard a{
    color: $principal-3;
    font-weight: 400;
}
.nav-dashboard .dropdown-item:hover, .dropdown-item:focus{
    color: #B46063;
    text-decoration: none;
    background: none;
}
.nav-dashboard .dropdown-item{
    padding: .25rem 0.8rem;
}
.nav-dashboard .rounded-lg {
    border-radius: 1.3rem !important;
}
.nav-dashboard .nav-link[aria-expanded=true].dropdown-toggle::after, .main-navigation .nav-link[aria-expanded=true].dropdown-toggle::after{
    transform: rotate(180deg);
    transition: all .3s;
}
.main-navigation .dropdown-toggle::after{
    color: #B46063 !important;
}
@media (min-width:768px){
    .dashboard-fixed{
        max-height: 100vh;
        position: fixed;
        width: 23%;
    }
}

//
// Cards Principales Dashboard
//

h4.titulo-cards-dashboard {
    font-size: 1.5em;
    min-height: 75px;
    padding: 0 1em;
}

//
// Paginacion Blog Dashboard
//
.pagination-blog .page-link {
    position: relative;
    display: block;
    padding: .5rem 1.3rem;
    margin-left: -1px;
    line-height: 2;
    color: #B46063;
    background-color: transparent;
    border: 1px solid #B46063;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}
.pagination-blog .page-item.active .page-link{
    z-index: 3;
    color: #fff;
    background-color: #B46063;
    border-color: #B46063;
}
.pagination-blog li.page-item {
    margin: 0 5px;
}
.pagination-blog .page-item:first-child .page-link, .pagination-blog .page-item:last-child .page-link{
    padding: 7px 15px !important;
}
.pagination-blog .page-link:focus{
    box-shadow: none !important;
}

//
// Servicios: Mentoria
//
#tabMentoria.nav-tabs .nav-link.active, #tabMentoria.nav-tabs .nav-item.show .nav-link{
    border-bottom: 2px solid #937A69 !important;
}

//
// Home Page
//
h4.titulo-home{
    font-size: 2em;
}
h5.titulo-home{
    font-size: 1.4em;
}
h6.titulo-home{
    font-size: 1.2em;
}
@media (min-width:768px){
    .container.sobre-mi{
        margin-top: -35px;
    }
    .banner-home-1{
        margin-top: -55px;
    }
    .card-propuestas{
        transition: all .3s;
    }
    .card-propuestas p.card-text{
        min-height: 120px;
    }
    .card-propuestas:hover{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: none !important;
        border-bottom: 2px solid #B46063 !important;
        transform: translateY(-40px);
        transition: all .3s;
    }
    .igualar-altura-blog{
        height: 100px;
    }
}
.banner-home-1{
    min-height: 400px;
    background: url(../img/banner-home-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-eleva-tu-marca{
    min-height: 147px;
    background: url(../img/bg-banner-eleva-tu-marca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
p.entry-date{
    color: $custom-colo-7;
}
.entry-post hr{
    border-color: $custom-colo-10;
    border-width: 1px;
}
.bg-textura-form{
    background: url(../img/bg-form-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.btn-social-group {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .3s;
}
.btn-social-group:hover {
    background: #B46063;
    transition: all .3s;
}
.form-home .form-control{
    border: 1px solid $custom-colo-7;
    background: transparent;
    color: $custom-colo-7;
}
.contenedor-form-home{
    margin-bottom: -5%;
}
@media (max-width:768px){
    .contenedor-form-home{
        margin-bottom: -10%;
    }
}

//
// Sobre mi Page
//

.portada-sobre-mi{
    background: url(../img/portada-sobre-mi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.contenedor-testimonios{
    background: url(../img/bg-testimonios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.contenedor-testimonios .carousel-item{
    text-align: center;
}
.contenedor-testimonios .carousel-indicators{
    bottom: -40px;
}
@media (min-width:768px){
    .portada-sobre-mi{
        height: 70vh;
    }
    .descripcion-testimonio{
        min-height: 75px;
    }
}
//
// Test Page
//
.seccion-cinco-pilares {
    padding-top: 7%;
    margin-top: -5.9%;
}

@media (min-width:768px){
    .seccion-cinco-pilares {
        padding-top: 7%;
        margin-top: -3.9%;
    }
    .contenedor-cinco-pilares h5{
        max-width: 175px;
        min-height: 76px;
    }
}
//
// Test Form Page
//
#pills-form-test .nav-link.active h5{
    color: #FFF !important;
}
#pills-form-test .nav-link.active{
    background-color: #B46063 !important;
}
.numerito-form{    
    width: 70px;
    height: 67px;
    background: url(../img/bg-numeritos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bg-textura-form-test{
    background: url(../img/bg-tu-resutlado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#result-test .form-control{
    background: #FFF;
    color: #B9B9B9;
    border-color: #937A69;
}
@media (min-width:768px){
    .opcion-step-5 {
        max-width: 250px;
        min-width: 188px;
        margin: 0 20px;
    }
}

//
// Servicios Page
//
.portada-servicios{
    background: url(../img/servicios-img-portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#pills-vertical .nav-link.active{
    position: relative;
}
#pills-vertical .nav-link.active svg{
    display: block !important;
}
#pills-vertical .nav-link {
    display: block;
    padding: 0.9rem 1.4rem;
}
#brandsCarousel .carousel-control-prev, #brandsCarousel .carousel-control-next{
    width: 0%;
}

@media (min-width:768px){
    .portada-servicios{
        min-height: 600px;
    }
    #brandsCarousel .row.align-items-center{
        min-height: 120px;
    }
}

//
// Asesoria Page
//
.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #937A69;
    content: ">";
}
#sobreExperiencias{
    background: url(../img/servicios-sobreExperiencias-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#carouselAsesoria .card{
    transition: all .3s;
}
#carouselAsesoria .carousel-indicators li{
    background-color: #B46063;
}
#carouselAsesoria .carousel-indicators{
    bottom: -30px;
}

#asesoriaTabs .nav-link.active, #asesoriaTabs .show>.nav-link {
    color: #fff;
    background-color: #B46063;
}
img.icon-tab{
    max-width: 38px;
}
.asesoria-tabs-bloque-img-1{
    background: url(../img/asesoria-img-tab-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.asesoria-tabs-bloque-img-2{
    background: url(../img/asesoria-img-tab-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.asesoria-tabs-bloque-img-3{
    background: url(../img/asesoria-img-tab-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.asesoria-tabs-bloque-img-4{
    background: url(../img/asesoria-img-tab-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.asesoria-tabs-bloque-img-5{
    background: url(../img/asesoria-img-tab-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#banner-asesoria-eleva{
    position: relative;
}
.ultimo-contenedor {
    margin-bottom: -5%;
}

@media (min-width:768px){
    #banner-asesoria-eleva::after{
        content: '';
        position: absolute;
        width: 178px;
        height: 227px;
        right: 0;
        top: -245px;
        background: url(../img/asesoria-manchitas-color.png);
    }
    #sobreExperiencias{
        min-height: 500px;
    }
    #carouselAsesoria .card-body p{
        min-height: 120px;
    }
    #carouselAsesoria .card:hover{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: none !important;
        border-bottom: 2px solid #B46063 !important;
        transform: translateY(-30px);
        transition: all .3s;
    }
    #asesoriaTabs .nav-item{
        border: 1px solid #B46063;
        min-width: 205px;
    }
    #asesoriaTabs li:first-child{
        border-top-left-radius:  1rem;
        border-bottom-left-radius:  1rem;
    }
    #asesoriaTabs li:last-child{
        border-top-right-radius:  1rem;
        border-bottom-right-radius:  1rem;
    }
    #asesoriaTabs:not(:first-child) .nav-link.active, #asesoriaTabs:not(:last-child) .nav-link.active{
        border-radius: 0;
    }
    #asesoriaTabs .nav-link{
        padding: 18px;
    }
    #asesoriaTabs .nav-item:first-child .nav-link{
        border-top-left-radius:  1rem;
        border-bottom-left-radius:  1rem;
        border-radius: 0.8rem 0 0 0.8rem;
        border-right: 0;
    }
    #asesoriaTabs .nav-item:last-child .nav-link{
        border-top-right-radius:  1rem;
        border-bottom-right-radius:  1rem;
        border-radius: 0 0.8rem 0.8rem 0;
        border-left: 0;
    }
    #asesoriaTabs.nav-pills{
        justify-content: center;
    }
}
@media (max-width:768px){
    #asesoriaTabs .nav-item{
        width: 50%;
    }
    .ultimo-contenedor {
        margin-bottom: -10%;
    }
}

//
// Mentoria Page
//
#mentoria-portada{
    background: url(../img/mentoria-img-portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 450px;
}
#mentoria-propuestas{
    background: url(../img/mentoria-manchitas-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}
@media (min-width:768px){
    #mentoria-propuestas{
        height: 600px;
    }
}
//
// Carrito Page
//
@media (min-width:768px){
    .borde-servicios{
        border-left: 2px solid #E1E6E9;
    }
}

//
// Checkout Page
//
.breadcrumb.custom{
    background-color: transparent;
    justify-content: center;
}
::placeholder{
    color: #B9B9B9 !important;
    font-size: 16px;
}
.title-divider{
    position: relative;
}
.title-divider::after{
    content: "";
    position: absolute;
    width: 130px;
    height: 8px;
    background: url(../assets/img/separador-svg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
}

//
// Carrito Page
//
.tabla-carrito .border.border-marron-claro{
    border: 1px solid #937A69 !important;
}
.tabla-carrito.table th, .tabla-carrito.table td{
    padding: 1.55rem;
}
.tabla-carrito span.descripcion-item{
    color: #5B5B5F;
    font-weight: 500;
}
.tabla-carrito span.costo-item{
    color: $custom-colo-4;
}
.tabla-carrito h5{
    font-size: 1.2rem;
}